@use '../../../styles/design-tokens' as dt;

.select {
    width: 100%;
    border: 1px solid dt.$green-100;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
}
