@use '../../../styles/design-tokens' as dt;

.container {
    width: 400px;
    margin: 0 auto;
    border: 1px dashed dt.$green-100;
    border-radius: 8px;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;

    & .input {
            display: none;
        }
        & label {
            padding: 16px;
            display: block;
            cursor: pointer;
        }
        .button-inner {
            padding: 0;
        }
}

.drag-container {
    background-color: dt.$green-20;
    border: 1px solid dt.$green-100;
}
.drag-border {
    border: 1px solid dt.$green-100;
}

.title {
    text-align: center;
    line-height: 19px;
    color: dt.$black;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    resize: vertical;
    max-height: 200px;
    padding: 15px 18px;
    height: 48px;
    margin-bottom: 30px;
}

.area {
    border-radius: 10px;
    text-align: center;
    border-width: 15px;
}

.file-icon {
    display: block;
    margin: 0 auto 16px;
}

.loadFile {
    font-size: 12px;
    margin-bottom: 10px;
    pointer-events: none;
}

.format {
    margin: 0 auto;
    max-width: 200px;
    font-size: 12px;
    line-height: 15px;
    color: dt.$general-100;
    opacity: .3;
    pointer-events: none;
}

.text {
    text-align: center;
    color: dt.$additional;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 16px;
}

.fileError {
    position: absolute;
    color: red;
    font-size: 10px;
    bottom: 5px;
    right: 0;
    left: 0;
    margin-bottom: auto;
}

//.button {
//    margin: 0 auto;
//    width: 100%;
//
//    .input {
//        display: none;
//    }
//    & label {
//        display: block;
//        margin: 0 auto;
//        width: max-content;
//        padding: 10px 16px;
//        cursor: pointer;
//    }
//    .button-inner {
//        padding: 0;
//    }
//}

