@use '../../../styles/design-tokens' as dt;

.container {
    height: 100vh;
    background: linear-gradient(18.6deg, #A1C5FA 25.93%, rgba(74, 142, 245, 0.9) 80.79%);
    position: relative;
    overflow: hidden;

    & .inner {
        padding: 20px 16px;
        max-width: 400px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-radius: 8px;

        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);

        & .title {
            text-align: center;
            margin-bottom: 20px;
            font-size: dt.$typo-font-p-medium-size;
            font-weight: 700;
            line-height: dt.$typo-font-p-medium-line-height;
        }
        & .input {
            margin-bottom: 10px;
            padding: 0 16px;

            &:last-child {
                margin-bottom: 28px;
            }
        }
        & .button {
            width: max-content;
            margin: 20px auto 0;
        }
    }

    & .background {
        position: absolute;
        display: block;
    }

    & .plane {
        left: 0;
        bottom: 0;
    }
    & .medium-right {
        right: -80px;
        bottom: 20px;
    }
    & .medium-left {
        bottom: 20px;
    }
    & .small-left {
        bottom: 10px;
        left: -20px;
    }
    & .small-right {
        right: 0;
        bottom: 20px;
    }
    & .big-cloud {
        right: 0;
        left: 0;
        bottom: 59px;
    }
}

