@use '../../../styles/design-tokens' as dt;

.input {
    margin-bottom: 10px;
    padding: 0 16px;

    &:last-child {
        margin-bottom: 28px;
    }
}

.button {
    width: max-content;
    margin: 20px auto 0;
}



